:root {
    --green-border: rgb(22, 163, 74); 
    --green-background: rgba(22, 163, 74, 0.1);
    --green-text: rgb(22, 163, 74);
    --red-border: rgb(220, 38, 38); 
    --red-background: rgba(220, 38, 38, 0.1);
    --red-text: rgb(220, 38, 38);
    --yellow-border: rgba(217, 119, 6, 0.5);
    --yellow-background: rgba(217, 119, 6, 0.1);
    --yellow-bg-light: rgba(217, 119, 6, 0.05);
    --yellow-text: rgb(217, 119, 6);
    --grayed-text: rgb(102, 102, 102);
    --gray-low-opacity: rgba(102, 102, 102, 0.1);
    --default-black-color: rgb(50, 50, 50, 1);
    --gray-no-opacity: rgba(102, 102, 102, 0);
    --overlay-background:  rgba(30, 30, 30, 0.7);
    --light-border: rgba(204, 204, 204, 0.75);
    --content-border: rgb(204, 204, 204, 1);
    --flexible-color: rgba(30, 30, 30, 0.6);
    --white-ishy-text: rgba(253, 253, 253, 1);
    --white-background: rgba(240, 240, 240, 1);
    --white-transparent: rgba(240, 240, 240, 0.1);
    --light-blue-background: rgba(219, 223, 227, 0.75);
    --blue-border: #173f70;
    --light-blue: #174e90;
    --blue-border-invi: rgba(23, 63, 112, 0);
    --btn-shadow: 0px 2px 8px 1px rgba(30, 30, 30, 0.25);
    --input-border: rgba(100, 100, 100, 0.75);
}

.icons, .icons-with-bg, .tab-icons, .light-icons, .sidebar-big-icon, .empty-placeholders, .btn-icons {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tab-icons{
    display: flex;
    width: 15px;
    height: 15px;
}

.icons-with-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--gray-no-opacity);
    width: 30px;
    height: 30px;
    background-size: 15px 15px;
    transition: all 0.5s ease;
}

.icons-with-bg:hover {
    background-color: var(--gray-low-opacity);
}

.sidebar-big-icon {
    display: flex;
    width: 70px;
    height: 70px;
}

.empty-placeholders {
    display: flex;
    height: 150px;
    width: 150px;
}

.icons-with-bg {
    background-size: 15px 15px;
}

.light-icons {
    opacity: 0.5;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/static/Inter_18pt-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/static/Inter_18pt-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/static/Inter_18pt-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/static/Inter_18pt-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/static/Inter_18pt-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/static/Inter_18pt-MediumItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--default-black-color);
    box-sizing: border-box;
    word-wrap: break-word;
}

.solid-buttons, .glass-buttons, .wide-buttons {
    display: inline-flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.solid-buttons, .wide-buttons {
    background-color: var(--blue-border);
    border: solid var(--blue-border) 1px;
}

.wide-buttons {
    padding: 0.75rem;
    width: 100%;
}

.glass-buttons {
    background-color: rgba(255, 255, 255, 0);
    border: solid var(--blue-border) 1px;
}

.glass-buttons:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.glass-buttons:active {
    opacity: 0.95;
}

.solid-buttons:hover, .wide-buttons:hover {
    opacity: 0.9;
}

.solid-buttons:active, .wide-buttons:active {
    transform: scale(95%);
    opacity: 0.8;
}

.btn-icons {
    height: 15px;
    width: 15px;
}

.btn-texts {
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

.empty-containers {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    opacity: 0.9;
    
}

#emptyIcon {
    display: inline-flex;
    width: 15px;
    height: 15px;
    background-image: url('/assets/icons/exclamation-black.png');
}

.empty-texts {
    color: #2e2e2e;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
}

#goBackBtn {
    display: flex;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: var(--gray-no-opacity);
    transition: all 0.15s ease;
}

#goBackBtn:hover {
    background-color: var(--gray-low-opacity);
}

#goBackBtnIcon {
    height: 15px;
    width: 15px;
    background-image: url('/assets/icons/backBlack.png');
}

#alertPopupContainer {
    display: flex;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0px 3px 9px  rgba(0, 0, 0, 0.25);
    animation: slightUpwardPush 0.3s ease;
    transition: all 1s ease;
    z-index: 10;
}

#alertPopupOverlay {
    display: flex;
    flex: 1;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--green-background);
    border: solid var(--green-border) 1px;
    backdrop-filter: blur(50px);
    transition: all 1s ease;
    border-radius: 5px;
}

#alertPopupOverlay.error {
    background-color: var(--red-background);
    border: solid var(--red-border) 0.1px;
}

#alertPopupIcon {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: var(--green-background);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

#alertPopupIcon.error {
    background-color: var(--red-background);
}

#alertPopupMessage {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 12px;
    color: var(--green-text);
}

#alertPopupMessage.error {
    color: var(--red-text);
}

#expTokenContainer {
    display: flex;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    background-color: var(--overlay-background);
    z-index: 10;
    font-size: 16px;
}

#expTokenContainer.show {
    opacity: 1;
    pointer-events: auto;
}

#expTokenContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#expTokenHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

#expTokenFooter {
    display: flex;
    width: 100%;
    justify-content: end;
}

#expTokenNavigate {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--gray-no-opacity);
    border-radius: 5px;
    transition: all 0.25s ease;
}

#expTokenNavigate:hover {
    background-color: var(--gray-low-opacity);
}

#loadingOverlay {
    display: flex;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--overlay-background);
    background-image: url('../assets/pictures/fade-dots.svg');
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease;
}

#loadingOverlay.show {
    opacity: 1;
    pointer-events: auto;
    z-index: 10;
}

#editBtnContainer {
    display: inline-flex;
    gap: 1rem;
}

#editBtnIcon, #deleteBtnIcon {
    width: 10px;
    height: 10px;
}

#editBtnIcon {
    background-image: url('/assets/icons/editWhite.png');
}

#deleteBtnIcon {
    width: 12px;
    height: 12px;
    background-image: url('/assets/icons/deleteWhite.png');
}

#deleteFormBtn {
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 0.5rem 0.75rem;
    background-color: var(--red-border);
}

#editFormBtn, #saveFormBtn, #cancelFormBtn {
    text-align: center;
    white-space: nowrap;
    font-size: 10px;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    border: none;
    animation: fadeIn 0.15s ease;
    transition: all 0.15s ease;
}

#editFormBtn {
    background-color: var(--blue-border);
}

#saveFormBtn {
    background-color: var(--green-border);
}

#cancelFormBtn {
    background-color: var(--gray-low-opacity);
}

#editBtnText, #saveBtnText, #deleteBtnText {
    color: var(--white-ishy-text);
}

#cancelBtnText {
    color: var(--default-black-color);
}

.input-box-containers {
    display: flex;
    gap: 0.25rem;
    width: 100%;
    flex-direction: column;
}

.input-labels {
    font-weight: 600;
}

.input-fields {
    display: flex;
    width: 100%;
    padding: 0.25rem 0.5rem;
    pointer-events: auto;
    border-radius: 3px;
    font-size: 12px;
    border: solid rgba(100, 100, 100, 0.5) 1px;
    color: var(--default-black-color);
    background-color: var(--white-transparent);
    transition: all 0.5s ease;
}

.input-fields.edit {
    pointer-events: auto;
    border: solid rgba(100, 100, 100, 0.5) 1px;
    color: var(--default-black-color);
}

.input-fields.read {
    pointer-events: none;
    border: solid rgba(100, 100, 100, 0.25) 1px;
    color: var(--grayed-text);
}

.input-fields.error {
    border: solid var(--red-border) 1px;
    background-color: var(--red-background);
}

.error-messages {
    color: var(--red-text);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.error-messages.show {
    opacity: 1;
}

@keyframes slightUpwardPush {
    0% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}