.overlays {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-background);
    z-index: 3;
    transition: all 0.5s ease;
}

.overlays.show {
    opacity: 1;
    pointer-events: auto;
}

.overlay-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    max-width: 70%;
    max-height: 80%;
    width: fit-content;
    height: fit-content;
}

.overlay-headers {
    display: flex;
    width: 100%;
    height: fit-content;
}

.overlay-bodies {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
}

#milestoneBar, #taskBar {
    display: flex;
    width: 50%;
    padding: 1rem 2rem;
    color: #666666;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--gray-low-opacity) 1px;
    background-color: var(--gray-no-opacity);
    cursor: pointer;
    transition: all 0.15s ease;
}

#milestoneBar:hover, #taskBar:hover {
    background-color: var(--gray-low-opacity);
}

#milestoneBar.selected, #taskBar.selected {
    color: var(--default-black-color);
    box-shadow: inset 0 -2px 0 0 var(--blue-border);
}

#milestoneEditContainer, #taskViewContainer, #taskEditContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    animation: fadeIn 0.5s ease;
    transition: all 0.15s ease;
}

#milestoneEditHeader, #taskViewHeader, #taskEditHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
    gap: 1.5rem;
    border-bottom: solid var(--light-border) 1px;
}

#taskEditHeader {
    padding-bottom: 0;
    border-bottom: none;
}

#milestoneEditIntro, #taskViewIntro {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#milestoneEditTitle, #taskViewTitle {
    color: var(--default-black-color);
    font-weight: 600;
    font-size: 12px;
}

#milestoneEditSubtitle, #taskViewSubtitle {
    color: var(--grayed-text);
    font-size: 10px;
}

#milestoneEditBody, #taskViewBody, #taskEditBody {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    padding-top: 0.5rem;
}

#milestoneEditForm, #taskEditForm {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
}

#taskFormHeader {
    display: flex;
}

#taskFormBody {
    display: flex;
    gap: 1rem;
}

.task-containers {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;  
    gap: 0.25rem;
    border-bottom: solid var(--light-border) 1px; 
    background-color: var(--gray-no-opacity);
    cursor: pointer;
    transition: all 0.15s ease;
}

.task-containers:hover {
    background-color: var(--gray-low-opacity);
}

.task-headers {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.task-numbers, .status {
    white-space: nowrap;
}

.task-numbers, .task-names {
    font-size: 11px;
    font-weight: 600;
    color: var(--grayed-text);
}

.task-names {
    color: var(--default-black-color);
    display: inline-flex;
    width: fit-content;
}

#taskStatus {
    padding: 0.25rem;
    margin-left: auto;
}

.task-progress-bar-containers {
    display: flex;
    height: 8px;
    border-radius: 10px;
    background-color: var(--light-border);

}

.task-progress-bars {
    display: flex;
    width: var(--progress, 0%);
    height: 100%;
    border-radius: 10px;
    background-color: var(--blue-border);
    transition: all 1s ease;
}

.task-progress-bar-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-progress-labels, .task-progress-pct {
    font-size: 11px;
    color: var(--grayed-text);
}


@media (max-width: 850px){
    .overlay-containers {
        max-width: 80%;
        max-height: 70%;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}