.overlays {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-background);
    z-index: 3;
    transition: all 0.5s ease;
}

.overlays.show {
    opacity: 1;
    pointer-events: auto;
}

.overlay-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    max-width: 70%;
    max-height: 80%;
    width: fit-content;
    height: fit-content;
}

.overlay-headers {
    display: flex;
    width: 100%;
    height: fit-content;
}

.overlay-bodies {
    display: flex;
    flex: 1;
    padding: 1rem;
}

#milestoneBar, #taskBar {
    display: flex;
    width: 50%;
    padding: 0.5rem 2rem;
    color: #666666;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid var(--gray-no-opacity) 1px;
    background-color: var(--gray-no-opacity);
    cursor: pointer;
    transition: all 0.15s ease;
}

#milestoneBar:hover, #taskBar:hover {
    background-color: var(--gray-low-opacity);
}

#milestoneBar.selected, #taskBar.selected {
    color: var(--default-black-color);
    border-bottom: solid var(--blue-border) 1px;
}

#milestoneEditContainer {
    display: flex;
    flex-direction: column;
}

#milestoneEditHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 0.5rem;
    border-bottom: solid var(--light-border) 1px;
}

#milestoneEditBody {
    display: flex;
    flex: 1;
    padding-top: 0.5rem;
}


@media (max-width: 850px){
    .overlay-containers {
        max-width: 80%;
        max-height: 70%;
    }
}